<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/head.ejs") %>
    <meta name="pushsdk" content="5bbbfcbe9b316628702f1bf064bc9fc5">
  </head>


  <body>
    <div class="inot-container">

    </div>
  </body>
</html>