<!DOCTYPE html>
<html>
  <head>
    <meta name="pushsdk" content="5bbbfcbe9b316628702f1bf064bc9fc5">

    <style>
      body {
        display: flex;
      }
    </style>
  </head>


  <body>
    <div class="views">
      <%= views %>
    </div>

    <div class="clickIds">
    </div>

    <div class="customs">
    </div>
  </body>

  <script>
    let clickIds = <%= clickIds %>;
    let customs = <%= customs %>;

    let clickIdsSplitted = clickIds.split(",");
    let customsSplitted = customs.split(",");



    let clicksElem = document.querySelector(".clickIds");

    clickIdsSplitted.map(el => {
      const elDiv = document.createElement("div");
      elDiv.textContent = el;
      clicksElem.appendChild(elDiv);
    });
  </script>
</html>