<!DOCTYPE html>
<html>
  <head>
    <meta name="pushsdk" content="5bbbfcbe9b316628702f1bf064bc9fc5">

    <style>
      body {
        display: flex;
      }
    </style>

    <script>
      console.log('1', <%= count %>>);
      console.log('1', retrieved_data);
    </script>

  </head>


  <body>
    <div class="views">
      <%= views %>
    </div>

    <div class="clickIds">
      <%= clickIds %>
    </div>

    <div class="customs">
      <%= customs %>
    </div>
  </body>
</html>