<!DOCTYPE html>
<html>
  <head>
    <meta name="pushsdk" content="5bbbfcbe9b316628702f1bf064bc9fc5">

    <style>
      body {
        display: flex;
      }
    </style>



  </head>


  <body>
    <div class="views">
      <%= views %>
    </div>

    <div class="clickIds">
      <%= clickIds %>
    </div>

    <div class="customs">
      <%= customs %>
    </div>
  </body>
</html>