<!DOCTYPE html>
<html>
  <head>
    <meta name="pushsdk" content="5bbbfcbe9b316628702f1bf064bc9fc5">

    <style>

      body {
        display: flex;
        background-color: black;
        color: lime;

        font-family: 'Roboto', sans-serif;
        font-size: 20px;
      }

      body>div {
        border: 3px solid lime;
        margin: 15px;
        padding: 15px;
      }

      .clickIds, .customs {
        padding: 5px;
      }

    </style>
  </head>


  <body>
    <div class="views">
      <p>Views:</p>
      <div><%= views %></div>
    </div>

    <div class="clickIds">
      <p>Click IDs:</p>>
    </div>

    <div class="customs">
      <p>Custom variables:</p>
    </div>
  </body>

  <script>
    let clickIds = "<%= clickIds %>";
    let customs = "<%= customs %>";

    let clickIdsSplitted = clickIds.split(",");
    let customsSplitted = customs.split(",");



    let clicksElem = document.querySelector(".clickIds");

    clickIdsSplitted.map(el => {
      const elDiv = document.createElement("div");
      elDiv.textContent = el;
      clicksElem.appendChild(elDiv);
    });

    let customsElem = document.querySelector(".customs");

    customsSplitted.map(el => {
      const elDiv = document.createElement("div");
      elDiv.textContent = el;
      customsElem.appendChild(elDiv);
    });
  </script>
</html>